URxvt.font: xft:Source Code Pro:size=10
URxvt.letterSpace: 1
URxvt.cursorBlink: false
URxvt.foreground: #FFFFFF
URxvt.background: #000000
URxvt.scrollBar: false
URxvt.scrollBar_right: false
URxvt.fading: 30
